/* Genral */

body {
  background-color: #ECE8DF;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.container {
  width: 75%;
  margin:auto;
}
a {
  text-decoration: none;
  color: #223325;
  padding: 5px;
}
a:hover{
  }
a:visited{
  color: #223325;
  }
.container img {
  border: 1px solid black;
  border-radius: 1%;
}
/* Main Heading */
h1 {
  font-family: 'Limelight', cursive;
  color: #223325;
  font-size: 55px;
  font weight: 100;
  text-align: center;
  margin-bottom: 0;
}
#mainBody h2{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px
}
hr {
  width: 55%;
  border-top: 1px solid black;
}
/* Headings */
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 23px;
  color: #223325;
  /*
padding-left: 10px;
background-color:#223325;
color: #ECE8DF;
*/
}
/* Project Titles */
h3 {
  font-family: 'Quicksand', sans-serif;
  color: #223325;
  font-size: 20px;
  font-style: italic;
}
/* carousel text */
h5 {

}
/* Main Text */
p {
  color: #223325;
  font-family: 'Quicksand', sans-serif;
}
HoverChange:hover {
  color: #C24A36;
}
/* Navigation Bar */
.topnav {
  background-color: #ECE8DF;
  padding: 8px;
  border-bottom: 1px solid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.topnav a:hover {
  background-color: #223325;
  color: #ECE8DF;
  padding: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 10px;
}
/*about*/
#about img:not(.gallery__img){
	border-radius: 20%;
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
  border: 1px solid black;
}

/* Signature */
.signature img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 80%;
}
